// Colors
// FFFFFF
// 129490
// 040F0F
// COLORS
$color-primary: #FAD02C;
$color-primary-light: #d4b63f;
$color-primary-dark: #deb309;

$color-secondary: #E9EAEC;

$color-tertiary-light: #4c4f68;
$color-tertiary: #333652;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #E9EAEC;
$color-black: #333652;
$color-red: red;

// FONT
$default-font-size: 1rem;

// BORDER RADIUS
$border-radius-size: 1rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 4rem;
$gutter-vertical-small: 2rem;
$gutter-horizontal: 6rem;
