@import "../../abstracts/variables";
@import "../../abstracts/mixins";
.card {
  text-align: center;
  margin: auto;
  &__img {
    width: 100%;
  }
  &__header {
    height: 16rem;
    @include respond(phone) {
      height: 13rem;
    }
  }
  &__link {
    text-decoration: none;
    color: $color-primary-dark;
  }
  &__iframe {
    height: 20rem;
    width: 100%;
    border-radius: $border-radius-size;
    @include respond(phone) {
      width: 100%;
      height: 15rem;
    }
    @include respond(small-phone) {
      height: 15rem;
      width: 100%;
    }
  }
}
