@import "../../abstracts/variables";
@import "../../abstracts/mixins";
.section__availableServices {
  background-image: linear-gradient(
      rgba($color-white, 0.9),
      rgba($color-white, 0.9)
    ),
    url("../../img/northinoLogo.png");
  margin-top: -6rem;
  padding: 2rem 0 0 0;
  z-index: -400;
  @include respond(tab-land) {
    background-size: 30rem;
    padding: 2rem 0;
    background-position: center;
  }
  @include respond(tab-port) {
    padding: 1rem 0 1rem 0;
    &__heading {
      margin: 8rem 0;
    }
  }
  @include respond(phone) {
    padding: 1rem 0 1rem 0;
    &__heading {
      margin: 5rem 0;
    }
  }
  @include respond(small-phone) {
    background-size: 15rem;
    padding: 2rem 0;
    background-position: center;

    padding: 0.6rem 0 1rem 0;
    &__heading {
      margin: 1rem 0;
    }
  }
}
